body {
  background: #eee;
}

.card {
  padding-bottom: 30px;
  position: relative;
}
.card-container {
  background: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  box-shadow: 0 1px 2px #aaaaaa;
  padding: 10px;
  position: relative;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.card-container:hover {
  -webkit-box-shadow: 0 1px 2px #666666;
  -moz-box-shadow: 0 1px 2px #666666;
  box-shadow: 0 1px 2px #666666;
}
.card--single .card-container {
  height: auto;
}
.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.card-position {
  bottom: -8px;
  color: #fff;
  font-size: 48px;
  font-weight: bolder;
  line-height: 1;
  position: absolute;
  right: 10px;
  text-shadow: 0px 0px 3px #999;
  z-index: 2;
}
.card-container h3 {
  height: 55px;
  overflow: hidden;
}
.card-actions {
}

.card-header .btn {
  margin-top: -20px;
}
.card-title {
  display: inline-block;
  font-size: 48px;
  margin-right: 10px;
}
